*{
    margin:0;
    padding:0;
}

.main {
    width:100%;
    color:#fff;
    background-position: center;
    background-size: cover;
    height: 20vh;
}

.navbar{
    width: 1200px;
    height: 75px;
    margin: auto;
}

.icon {
    width: 200px;
    float: left;
    height: 70px;
}

.icon a {
    font-family: 'Time New Roman ';
    color: chocolate;
    font-size: 36px;
    padding-left: 20px;
    float: left;
    padding-top: 10px ;
    text-decoration: none;
    font-weight: bold;
}

.logo {
    color: chocolate;
    font-size: 36px;
    font-family: Arial;
    padding-left: 20px;
    float: left;
    padding-top: 10px ;
}

.menu {
    width: 400px;
    float: left;
    height: 70px;

}

ul {
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul li {
    list-style: none;
    margin-left: 62px;
    margin-top: 27px;
    font-size: 16px;
}

ul li a{
    text-decoration: none;
    color: black;
    font-family: Arial;
    font-weight: bold;
    transition: 0.4s ease-in-out;
}

ul li a:hover{
    color: #ff7200;
}

.search{
    width: 330px;
    float: left;
    margin-left: 270px;
    
}

.srch{
    font-family: Arial;
    width: 150px;
    height: 40px;
    background: transparent;
    border: 1px solid #ff7200;
    margin-top: 13px;
    color: #000000;
    border-right: none;
    font-size: 16px;
    float: left;
    padding: 10px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}
 
.btn{
    width: 120px;
    height: 40px;
    background: #ff7200;
    border: 2px solid #ff7200;
    margin-top: 13px;
    color: #000000;
    font-size: 15px;
    border-bottom-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.btn:focus{
    outline: none;
}


.srch:focus{
    outline: none;
}

body{
    font-family: poppins;
    background-image: url(imgs/);
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
}
#slider{
    margin-top: 15%;
}
.img-area{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    display: inline-block;
    overflow: hidden;
}
.img-area img{
    width: 100%;
}
.content{
    text-align: center;
    padding: 40px;
    color: #000000;
    border-radius: 25px;
    /*backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);*/
}
.content h2{
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.content p{
    line-height: 1.9;
}
.socials{
    margin-top: 30px;
}
.socials i{
    font-size: 20px;
    margin: 0 10px;
}

.FAQ-content{
    text-align: center;
    padding: 40px;
    color: #000000;
    border-radius: 25px;
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
}

.FAQ-content h2{
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.FAQ-content p{
    line-height: 1.9;
}

